@charset "utf-8";
.a{
	background-color:#19008C;
	border-radius: 8px;
	padding: 10px;
	text-align:center;
	margin-top: auto;
	 }

.a img{
	width:80%;
	height: 400px;
	border-radius: 8px;
      }
.b{
	color: lightyellow;
	font-style:normal;
	font-size: 20px;
font-family: arial,Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"}